button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 5px;
}
.gif{
	height: 181px;
	width:200px;


}
.single{

	float:left;
	margin:5px;
	margin-right: 5px;
	padding-right: 5px;

}