body{
	background-color: black;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 5px;
}

.gif{
	height: 181px;
	width:200px;


}
.single{

	float:left;
	margin:5px;
	padding-right: 5px;
}

.double{
	color:white;
}

label{
	color:white;
}

button:hover{
	background-color: red;
	color:yellow;
}